/* 
File Name: global.css
Create Date: Nov 24, 2023 
Purpose: This CSS file is used to style the signin and the signup page. 
*/
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-medium: Inter;

  /* font sizes */
  --font-size-5xl: 24px;
  --body-medium-size: 14px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --large-size: 18px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: #f1f1f1;
  --color-darkslategray-100: #475569;
  --color-darkslategray-200: #334155;
  --color-white: #fff;
  --slate-200: #e2e8f0;
  --color-gray-100: #8b8b8b;
  --slate-900: #0f172a;
  --color-slategray: #64748b;
  --color-lightgray: #cbd5e1;
  --color-black: #000;

  /* Gaps */
  --gap-0: 0px;
  --gap-11xl: 30px;
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-8xs: 5px;
}
